div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

#rallymap { height: 93.8vh; }


body{
  margin: 0;
  padding: 0;
}
#searchbox{
  position: relative;
   left: 30px;
   top: 10px;
   z-index: 9999;
   visibility: hidden;
}

.profilepicture{
  width: 15%;
  float: left;
}

.submit{

}

summary{
  display: block;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: -1%;
  padding: 8px 0;
  position: relative;
  width: 102%;
}

summary::-webkit-details-marker{
  display: none;
}

summary:before {
    border-radius: 5px;
    color: #363636;
    content: "+";
    display: block;
    float: left;
    font-size: 1em;
    font-weight: bold;
    margin: -2px 10px 0 10px;
    padding: 0;
    text-align: center;
    width: 20px;
}

details {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
    color: #363636;
    margin: 0 0 .4em;
    padding: 1%;
}
details[open] summary:before {
    content: "-";
    margin-top: -4px;
}

.eventsubmission{
  margin: 50px;
}
