div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

#rallymap { height: 100vh; }


body{
  margin: 0;
  padding: 0;
}
#searchbox{
  position: relative;
   left: 30px;
   top: 10px;
   z-index: 9999;
   visibility: hidden;
}

.profilepicture{
  width: 20%;
}
